[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE_BASE
gcode:
    # This forces rapid_scan as the default method whenever BED_MESH_CALIBRATE is called
    _BED_MESH_CALIBRATE_BASE METHOD=rapid_scan {rawparams}
